/** @format */

@use 'base';
@use 'sass:math';

$cl-banner: '.banner';
$cl-container: '#{$cl-banner}__container';
$cl-list: '#{$cl-banner}__list';
$cl-btn: '#{$cl-banner}__btn';
$cl-icon: '#{$cl-banner}__icon';
$cl-icon-wrapper: '#{$cl-icon}_wrapper';
$cl-icon-text: '#{$cl-icon}_text';

#{$cl-banner} {
    width: min(1100px, 95%);
    #{$cl-list} {
        #{$cl-container} {
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            > * {
                flex: 0 0 40px;
                width: 40px;
                height: auto;
                @include base.mq-above-sm-mobile {
                    width: 70px;
                    flex-basis: 70px;
                }
                @include base.mq-above-lg-mobile {
                    width: 100px;
                    flex-basis: 100px;
                }
            }
        }
    }
    #{$cl-container} {
        $gap: 64px;
        @include base.flex-center;
        @include base.margin-x(math.div($gap, 2));
        gap: $gap;
    }
    #{$cl-icon-wrapper} {
        text-align: center;
    }
    #{$cl-icon-text} {
        display: inline-block;
        margin-top: base.$spacing-md;
    }
    #{$cl-btn} {
        display: flex;
    }
}

@include base.theme(#{$cl-banner}, 'dark') {
    #{$cl-icon-wrapper} img {
        filter: invert(1);
    }
}
