/** @format */

@use 'base';

$cl-banner: '.banner';
$cl-container: '#{$cl-banner}__container';
$cl-spacing: '#{$cl-banner}__spacing';
$cl-icon: '#{$cl-banner}__icon';
$cl-icon-wrapper: '#{$cl-icon}_wrapper';
$cl-icon-text: '#{$cl-icon}_text';

#{$cl-banner} {
    border-radius: 24px;
    padding: max(16px, 2%);
    width: min(1000px, 95%);
    h6 {
        font-size: 1.2rem;
    }
    #{$cl-container} {
        @include base.flex-center;
        gap: 16px;
        flex-wrap: wrap;
        button {
            border-radius: 8px;
        }
    }
    #{$cl-icon-wrapper} {
        text-align: center;
    }   
    #{$cl-icon-text} {
        margin-top: -8px;
        white-space: nowrap;
    }
}

@include base.theme(#{$cl-banner}, 'dark') {
    #{$cl-icon-wrapper} img {
        filter: invert(1);
    }  
}

