/** @format */

@use 'base';

$cl-banner: '.banner';
$cl-container: '#{$cl-banner}__container';
$cl-icon: '#{$cl-banner}__icon';
$cl-icon-tooltip: '#{$cl-icon}_tooltip';
$cl-icon-btn: '#{$cl-icon}_btn';
$cl-icon-text: '#{$cl-icon}_text';

#{$cl-banner} {
    @include base.theme-toggle-transition(
        $properties: (
            background,
        )
    );
    border-radius: 24px;
    padding: max(16px, 2%);
    max-width: 90%;
    #{$cl-container} {
        @include base.flex-center;
        gap: 16px;
        flex-wrap: wrap;
        button {
            border-radius: 8px;
        }
    }
    #{$cl-icon-tooltip} {
        display: initial;
    }
    #{$cl-icon-btn} {
        display: flex;
        flex-direction: column;
        color: base.$color-text-default;
        text-transform: capitalize;
        max-width: 144px;
        hr {
            background: base.$color-bg-non-interactive;
        }
    }
    #{$cl-icon-text} {
        margin-top: -8px;
        white-space: nowrap;
    }
}

@include base.theme(#{$cl-banner}, 'dark') {
    background: base.$color-neutral-dark-200;
}

@include base.theme(#{$cl-banner}, 'light') {
    background: none;
}
