/** @format */

@use 'base';

$cl-drawer: '.drawer';
$cl-container: '#{$cl-drawer}__container';
$cl-item: '#{$cl-drawer}__item';
$cl-btn-container: '#{$cl-drawer}__btn_container';
$cl-color-picker: '#{$cl-drawer}__color_picker';

#{$cl-drawer} {
    z-index: base.$tidio-chat-z-index + 1;
    h4 {
        @include base.padding-y(32px);
        text-align: center;
    }
    #{$cl-btn-container} {
        @include base.flex-center;
        border-top: 4px solid var(--color-secondary);
    }
    #{$cl-container} {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 48px;
    }
    #{$cl-item} {
        flex-basis: 450px;
    }
}
