/** @format */

@use 'base';

$cl-drawer: '.drawer';
$cl-container: '#{$cl-drawer}__container';
$cl-item: '#{$cl-drawer}__item';
$cl-btn-container: '#{$cl-drawer}__btn_container';
$cl-color-picker: '#{$cl-drawer}__color_picker';

#{$cl-drawer} {
    z-index: base.$tidio-chat-z-index + 1;
    h4 {
        @include base.padding-y(8px);
        text-align: center;
        @include base.mq-above-lg-tablet {
            @include base.padding-y(32px); 
        }
    }
    #{$cl-container} {
        @include base.padding-y(min(64px, 15%));
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 48px;
        @include base.mq-above-lg-tablet {
            padding-bottom: 48px;
        }
    }
    #{$cl-item} {
        flex-basis: 450px;
    }
    #{$cl-btn-container} {
        @include base.flex-center;
        border-top: 4px solid var(--color-secondary);
        @include base.mq-below-lg-mobile {
            flex-direction: column;
        }
        button {
            @include base.mq-below-lg-mobile {
                margin-top: 16px;
                width: 100%;
            }
        }
    }
    #{$cl-color-picker} {
        max-width: 100%;
    }
}
