/** @format */

@use 'base';

$cl-contact: '.contact';
$cl-container: '#{$cl-contact}__container';
$cl-info: '#{$cl-contact}__info';
$cl-photo: '#{$cl-contact}__photo';
$cl-form-container: '#{$cl-contact}__form_container';
$cl-checkbox-container: '#{$cl-contact}__checkbox_container';
$cl-submit-btn: '#{$cl-contact}__submit_btn';

#{$cl-contact} {
    :global(.MuiInputBase-root.MuiFilledInput-root) {
        background-color: transparentize($color: base.$color-white, $amount: 0.9);
    }
    :global(.MuiFormControl-root.MuiTextField-root) {
        color: base.$color-white;
        ::before {
            border-bottom-color: base.$color-white;
        }
        > * {
            color: inherit;
        }
    }
    :global(.MuiCheckbox-root) {
        color: base.$color-white;
    }
}

#{$cl-contact} {
    @include base.fixed-bg;
    padding-bottom: base.$spacing-section;
    input {
        width: max(300px, 90%);
    }
    textarea {
        padding: 5% 8px;
    }
    #{$cl-container} {
        @include base.margin-x;
        @include base.animation-gradient;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 32px;
        width: max-content;
        background-size: 175% 100%;
        padding: 5%;
        border-radius: 24px;
        > div {
            flex: 1;
        }
    }
    #{$cl-info} {
        text-align: left;
        width: 30ch;
    }
    #{$cl-photo} {
        $size: 100px;
        width: $size;
        height: $size;
    }
    #{$cl-form-container} {
        max-width: 100%;
        form {
            @include base.fill;
            #{$cl-submit-btn} {
                margin-top: 16px;
                margin-right: 0;
            }
        }
    }
    #{$cl-checkbox-container} {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 16px;
    }
}
