/** @format */

@use 'base';

$cl-contact: '.contact';
$cl-container: '#{$cl-contact}__container';
$cl-info: '#{$cl-contact}__info';
$cl-photo: '#{$cl-contact}__photo';
$cl-form-container: '#{$cl-contact}__form_container';
$cl-checkbox-container: '#{$cl-contact}__checkbox_container';
$cl-submit-btn: '#{$cl-contact}__submit_btn';

#{$cl-contact} {
    :global(.MuiInputBase-root.MuiFilledInput-root) {
        background-color: transparentize($color: base.$color-white, $amount: 0.9);
    }
    :global(.MuiFormControl-root.MuiTextField-root) {
        color: base.$color-white;
        ::before {
            border-bottom-color: base.$color-white;
        }
        > * {
            color: inherit;
        }
    }
    :global(.MuiCheckbox-root) {
        color: base.$color-white;
    }
}

#{$cl-contact} {
    @include base.fixed-bg;
    padding-bottom: base.$spacing-section;
    input[type='text'],
    textarea {
        width: max(300px, 100%);
        margin-top: 4px;
    }
    #{$cl-container} {
        @include base.margin-x;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 80px;
        width: max-content;
        background-size: 100% 100%;
        padding: 5%;
        border-radius: 24px;
        box-shadow: base.$box-shadow-card-heavy;
        > div {
            flex: 1;
        }
        @include base.mq-above-lg-tablet {
            @include base.animation-gradient;
            background-size: 175% 100%;
        }
    }
    #{$cl-info} {
        text-align: left;
        width: 40ch;
        p {
            max-width: 30ch;
        }
        > *:not(:last-child):not(:first-child) {
            margin-top: base.$spacing-sm;
        }
    }
    #{$cl-photo} {
        $size: 120px;
        width: $size;
        height: $size;
        img {
            transform: scaleX(-1);
        }
    }
    #{$cl-form-container} {
        max-width: 100%;
        form {
            @include base.fill;
            #{$cl-submit-btn} {
                margin-top: 16px;
                margin-right: 0;
            }
            button[type=submit] {
                margin-top: 32px;
            }
        }
    }
    #{$cl-checkbox-container} {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 8px;
    }
}
