/** @format */

@use 'base';

$cl-hero: '.hero';
$cl-bg: '#{$cl-hero}__bg';
$cl-heading: '#{$cl-hero}__heading';
$cl-intro: '#{$cl-hero}__intro';
$cl-animated-text: '#{$cl-hero}__animated_text';
$cl-btn-group: '#{$cl-hero}__btn_group';
$cl-btn: '#{$cl-hero}__btn';
$cl-img_container: '#{$cl-hero}__img_container';
$cl-info_container: '#{$cl-hero}__info_container';
$cl-bg-outline: '#{$cl-hero}__bg_outline';
$cl-img: '#{$cl-hero}__img';

#{$cl-hero} {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    row-gap: 32px;
    @include base.mq-above-sm-tablet {
        flex-direction: row;
        padding-top: 32px;
        gap: 16px;
    }
    @include base.mq-above-desktop {
        margin-top: -(base.$header-height);
        padding-top: unset;
        height: base.$hero-height-container;
        flex-wrap: nowrap;
        overflow: visible;
    }
    #{$cl-info_container},
    #{$cl-img_container} {
        flex: 1;
        width: 100%;
    }
    #{$cl-info_container} {
        margin-top: 12px;
        z-index: 1;
        @include base.mq-above-desktop {
            align-self: center;
            padding-left: 2.5%;
        }
    }
    #{$cl-img_container} {
        @include base.margin-x;
        padding-top: 10%;
        width: 100%;
        @include base.mq-above-sm-tablet {
            padding-top: unset;
            padding-right: 3%;
            width: unset;
        }
        @include base.mq-above-desktop {
            width: 100%;
            padding-right: unset;
        }
    }
    #{$cl-heading},
    #{$cl-intro} {
        display: block;
    }
    #{$cl-heading} {
        text-align: left;
        padding-top: unset;
    }
    #{$cl-intro} {
        font-size: base.$font-size-subtitle-2;
        font-weight: 400;
        width: clamp(10ch, 100%, 14ch);
        #{$cl-animated-text} {
            width: auto;
        }
        @include base.mq-above-sm-mobile {
            width: clamp(14ch, 100%, 23ch);
        }
        @include base.mq-above-desktop {
            width: 100%;
        }
    }
    #{$cl-btn-group} {
        margin: 16px 0;
        #{$cl-btn} {
            margin: unset;
            @include base.mq-below-lg-tablet {
                border-radius: base.$border-radius-sm;
                &:not(:first-of-type) {
                    margin-top: 16px;
                }
            }
        }
    }
}
