/** @format */

@use 'base';

$cl-hero: '.hero';
$cl-bg: '#{$cl-hero}__bg';
$cl-heading: '#{$cl-hero}__heading';
$cl-intro: '#{$cl-hero}__intro';
$cl-btn: '#{$cl-hero}__btn';
$cl-img_container: '#{$cl-hero}__img_container';
$cl-info_container: '#{$cl-hero}__info_container';
$cl-bg-outline: '#{$cl-hero}__bg_outline';
$cl-img: '#{$cl-hero}__img';

#{$cl-hero} {
    display: flex;
    height: base.$hero-height-container;
    overflow: visible;
    margin-top: -(base.$header-height);
    #{$cl-info_container} {
        margin-top: 12px;
        align-self: center;
        padding-left: 2.5%;
    }
    #{$cl-heading},
    #{$cl-intro} {
        display: block;
    }
    #{$cl-heading} {
        text-align: left;
    }
    #{$cl-intro} {
        font-size: base.$font-size-subtitle-2;
        font-weight: 400;
    }
    #{$cl-btn} {
        margin: 16px 0;
    }
}
