/** @format */

@use 'base';

$spacing: min(16px, 5%) min(32px, 10%);

$cl-card: '.card';
$cl-logo: '#{$cl-card}__logo';
$cl-sections: '#{$cl-card}__sections';
$cl-details: '#{$cl-card}__details';
$cl-btn: '#{$cl-card}__btn';
$cl-more-details: '#{$cl-card}__more_details';
$cl-more-details-wrapper: '#{$cl-more-details}_wrapper';
$cl-logos: '#{$cl-card}__logos';
$cl-expanded: '#{$cl-card}--expanded';

#{$cl-card} {
    border-radius: 8px;
    box-shadow: base.$box-shadow-card-light;
    width: min(100%, 400px);
    flex: 0 0 auto;
    #{$cl-logo} {
        padding: $spacing;
        padding-bottom: base.$spacing-lg;
        img {
            display: inline-block;
            height: 64px;
            width: auto;
            max-width: 100%;
            object-position: center;
            object-fit: contain;
        }
    }
    #{$cl-details} {
        @include base.transition(border-radius);
        // allows sliding drawer to remain connected until transition end
        transition-delay: base.$default-transition-time;
        padding: $spacing;
        white-space: wrap;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        a {
            color: inherit;
            overflow-wrap: break-word;
            svg {
                text-decoration: none;
                margin-right: 4px;
                vertical-align: text-bottom;
            }
        }
        h3 {
            font-size: base.$font-size-h3;
            padding-bottom: base.$spacing-sm;
        }
    }
    #{$cl-btn} {
        > button {
            margin-top: base.$spacing-lg;
            margin-left: 0;
        }
    }
    #{$cl-more-details-wrapper} {
        @include base.transition(height);
        height: 0;
        overflow: hidden;
    }
    #{$cl-more-details} {
        p {
            padding: $spacing;
        }
        strong {
            display: block;
            padding: $spacing;
            padding-bottom: 0;
        }
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    #{$cl-logos} {
        padding: 32px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 32px;
        > div {
            width: auto;
            height: 48px;
            max-width: 124px;
            img {
                @include base.fill;
            }
        }
    }
    &#{$cl-expanded} {
        #{$cl-details} {
            transition-duration: 0s;
            transition-delay: 0s;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

@include base.theme(#{$cl-card}, 'dark') {
    background: base.$color-neutral-dark-800;
    img {
        filter: grayscale(1) brightness(0.7) invert(1);
        mix-blend-mode: lighten;
    }
    #{$cl-logos} {
        img {
            filter: invert(0.9);
        }
    }
}

@include base.theme(#{$cl-card}, 'light') {
    background: base.$color-white;
}
