/** @format */

@use 'base';

$cl-social-media-links: '.social_media_links';
$cl-link: '#{$cl-social-media-links}__link';
$cl-link-img: '#{$cl-social-media-links}__link_img';
$cl-link-black: '#{$cl-link}--black';
$cl-link-white: '#{$cl-link}--white';
$cl-link-color: '#{$cl-link}--color';

@mixin filter-states() {
    &#{$cl-link-black} {
        @include base.filter-to-black;
    }
    &#{$cl-link-white} {
        @include base.filter-to-white;
    }
}

#{$cl-social-media-links} {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    column-gap: 4px;
    width: max-content;
    #{$cl-link} {
        @include base.interactive-states {
            transform: scale(1.15);
        }
        transform: scale(1);
        width: 24px;
        height: 24px;
        &:not(:last-of-type) {
            margin-right: 8px;
        } 
    }
    #{$cl-link-img} {
        object-fit: contain;
    }
}

@include base.theme(#{$cl-social-media-links}, 'dark') {
    #{$cl-link} {
        filter: brightness(0) invert(1);
        @include filter-states;
    }
}

@include base.theme(#{$cl-social-media-links}, 'light') {
    #{$cl-link} {
        @include base.interactive-states {
            filter: unset;
        }
        filter: brightness(0);
        @include filter-states;
    }
}
