/** @format */

@use 'base';

$cl-about: '.about';
$cl-container: '#{$cl-about}__container';
$cl-text-container: '#{$cl-about}__text_container';

#{$cl-about} {
    padding-bottom: base.$spacing-section;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.1rem;
    #{$cl-container} {
        margin-top: base.$spacing-section;
        text-align: left;
    }
    #{$cl-text-container} {
        @include base.margin-x;
        width: min(75ch, 100%);
    }
}

@include base.theme(#{$cl-about}, 'dark') {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1280' height='720' preserveAspectRatio='none' viewBox='0 0 1280 720'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1282%26quot%3b)' fill='none'%3e%3cpath d='M-214.49 483.46C-93.83 480.9-2.13 312.85 238.96 317.86 480.05 322.87 530.75 767.53 692.41 811.97' stroke='rgba(250%2c 250%2c 250%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-229.59 395.13C-117.26 388.23-62.75 162.63 165.35 179.13 393.45 195.63 389.94 759.58 560.29 856.6' stroke='rgba(250%2c 250%2c 250%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-215.74 584.89C-72.49 583.53 57.89 433.31 336.97 433.69 616.05 434.07 731.95 730.57 889.68 740.64' stroke='rgba(250%2c 250%2c 250%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-14.34 572.83C137.57 563.17 313.88 276.65 518.17 277.63 722.47 278.61 668.49 677.09 784.43 745.37' stroke='rgba(250%2c 250%2c 250%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-109.8 476.92C-0.12 472.31 75.56 284.99 287.4 289.72 499.24 294.45 536.35 722.95 684.6 772.34' stroke='rgba(250%2c 250%2c 250%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1282'%3e%3crect width='1280' height='720' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

@include base.theme(#{$cl-about}, 'light') {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1280' height='720' preserveAspectRatio='none' viewBox='0 0 1280 720'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1286%26quot%3b)' fill='none'%3e%3cpath d='M-214.49 483.46C-93.83 480.9-2.13 312.85 238.96 317.86 480.05 322.87 530.75 767.53 692.41 811.97' stroke='rgba(5%2c 5%2c 5%2c 0.1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-229.59 395.13C-117.26 388.23-62.75 162.63 165.35 179.13 393.45 195.63 389.94 759.58 560.29 856.6' stroke='rgba(5%2c 5%2c 5%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-215.74 584.89C-72.49 583.53 57.89 433.31 336.97 433.69 616.05 434.07 731.95 730.57 889.68 740.64' stroke='rgba(5%2c 5%2c 5%2c 0.1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-14.34 572.83C137.57 563.17 313.88 276.65 518.17 277.63 722.47 278.61 668.49 677.09 784.43 745.37' stroke='rgba(5%2c 5%2c 5%2c 0.07)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-109.8 476.92C-0.12 472.31 75.56 284.99 287.4 289.72 499.24 294.45 536.35 722.95 684.6 772.34' stroke='rgba(5%2c 5%2c 5%2c 0.07)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1286'%3e%3crect width='1280' height='720' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
