/** @format */

// generate tokens here: https://codepen.io/claviska/full/QWveRgL @previous
// generate tokens here: https://maketintsandshades.com @latest

// $color-primary: #0078e5;
// $color-secondary: #a72796;
$color-primary: hsla(209, 100%, 45%, 1);
$color-secondary: hsla(308, 62%, 40%, 1);

$color-neutral-dark: #121212;
$color-neutral-dark-100: #e7e7e7;
$color-neutral-dark-200: #d0d0d0;
$color-neutral-dark-300: #b8b8b8;
$color-neutral-dark-400: #a0a0a0;
$color-neutral-dark-500: #898989;
$color-neutral-dark-600: #717171;
$color-neutral-dark-700: #595959;
$color-neutral-dark-800: #414141;
$color-neutral-dark-900: #2a2a2a;

$color-white: #fafafa;
$color-black: #050505;

$color-white-dark-100: transparentize(
    $color: $color-white,
    $amount: 0.13,
);
$color-white-dark-200: transparentize(
    $color: $color-white,
    $amount: 0.4,
);
$color-white-dark-300: transparentize(
    $color: $color-white,
    $amount: 0.62,
);

$color-text-default: $color-black;
$color-text-default-dark: $color-white-dark-100;

$color-bg-default: $color-white;
$color-bg-default-dark: $color-neutral-dark;

$color-bg-non-interactive: var(--color-secondary-1400);
$color-bg-non-interactive-dark: var(--color-primary-200);
$color-bg-hover-non-interactive: var(--color-secondary-1400);
$color-bg-hover-non-interactive-dark: var(--color-primary-200);

$color-header-text: $color-white;
$color-header-text-dark: $color-text-default-dark;
$color-header-scrolled-bg: $color-black;
$color-header-scrolled-bg-dark: $color-white;

$color-btn-bg-neutral: var(--color-primary);
$color-btn-bg: var(--color-primary-800);
$color-btn-bg-active: var(--color-primary-1200);
$color-btn-bg-dark: var(--color-primary-1200);
$color-btn-bg-active-dark: var(--color-primary-800);

$color-alert: #fc453a;
