/** @format */

@use 'base';

:export {
    colorPrimary: base.$color-primary;
    colorSecondary: base.$color-secondary;
    bgImgDark: base.$img-bg-dark-neutral;
    bgImgLight: base.$img-bg-light-neutral;
}
