/** @format */

@use 'responsive';

@function handle-min-font-size($size) {
    @return max(var(--font-size-min), $size);
}

$font-size-body-1: var(--font-size-body-1);
$font-size-body-2: handle-min-font-size(calc(0.8 * $font-size-body-1));
$font-size-header: handle-min-font-size(
    calc(var(--font-size-multiplier-header) * $font-size-body-1)
);
$font-size-title-1: handle-min-font-size(
    calc(var(--font-size-multiplier-title-1) * $font-size-body-1)
);
$font-size-subtitle-1: handle-min-font-size(
    calc(var(--font-size-multiplier-subtitle-1) * $font-size-body-1)
);
$font-size-subtitle-2: handle-min-font-size(calc(1.2 * $font-size-body-1));
$font-size-button-1: handle-min-font-size(calc(0.9 * $font-size-body-1));
$font-size-h3: handle-min-font-size(calc(1.2 * $font-size-body-1));
