/** @format */

@use 'base';

$theme-colors: (
    'color-primary': base.$color-primary,
    'color-secondary': base.$color-secondary,
) !default;
$percents: (10, 20, 30, 40, 50, 60, 70, 80, 90) !default;

:root {
    @each $color, $value in $theme-colors {
        --#{$color}-h: #{hue($value)};
        --#{$color}-s: #{saturation($value)};
        --#{$color}-l: #{lightness($value)};
        --#{$color}-a: #{alpha($value)};
        --#{$color}: #{$value};
        --#{$color}-original: #{$value};

        // create design color tokens
        @each $percent in $percents {
            --#{$color}-#{$percent}0: #{base.handle-tint(
                    $color: var(--#{$color}),
                    $percent: #{100-$percent}+ '%'
                )};
            --#{$color}-1#{$percent}0: #{base.handle-shade(
                    $color: var(--#{$color}),
                    $percent: #{$percent}+ '%'
                )};
        }
    }
    --color-white: #{base.$color-white};
    --color-black: #{base.$color-black};
    --bg-img-dark: #{base.$img-bg-dark-neutral};
    --bg-img-light: #{base.$img-bg-light-neutral};
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    :not([tabindex^='-']) {
        @include base.keyboard-focusable;
    }
}
body {
    color: inherit;
    background: inherit;
}
#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1 1 auto;
    margin-top: base.$header-height; 
    a {
        width: max-content;
    }
}
.dark, .user-dark {
    color: base.$color-text-default-dark;
    background: base.$color-bg-default-dark;
    color-scheme: dark;
}
.light, .user-light {
    color: base.$color-text-default-black;
    background: base.$color-bg-default;
    color-scheme: light;
}
.dark .theme-bg  {
    background-image: base.$img-bg-dark;
}
.user-dark .theme-bg  {
    background-image: base.$img-bg-dark-neutral;
    background-image: var(--bg-img-dark);
}
.light .theme-bg {
    background-image: base.$img-bg-light;
}
.user-light .theme-bg {
    background-image: base.$img-bg-light-neutral;
    background-image: var(--bg-img-light);
}
body::-webkit-scrollbar {
    width: auto;
    background: base.$color-bg-default;
}
body::-webkit-scrollbar-track {
    border-radius: 6px;
}
body::-webkit-scrollbar-thumb {
    background: base.$gradient-bg-1;
    border-radius: 12px;
    &:hover {
        box-shadow: inset 0 0 6px black;
    }
}
::-webkit-scrollbar-button:single-button {
    height: 4px;
}
