/** @format */

@use 'base';

$cl-banner: '.banner';
$cl-banner-bg-only: '#{$cl-banner}--bg-only';

#{$cl-banner} {
    position: relative;
    color: base.$color-white;
    z-index: 0;
    > div:first-of-type {
        @include base.before-after-default;
        @include base.animation-gradient;
        animation-duration: 8s;
        background-size: 300% 100%;
        background-image: base.$gradient-bg-1;
        z-index: -1;
    }
    &:not(#{$cl-banner-bg-only}) {
        @include base.gradient-bg;
    }
}

@include base.theme(#{$cl-banner}, 'dark') {
    > div:first-of-type {
        filter: saturate(0.5);
    }
}

@include base.theme(#{$cl-banner}, 'light') {
    > div:first-of-type {
        filter: unset;
    }
}
