/** @format */

@use 'base';
@use 'sass:color';

$transition: all 0.35s ease-in-out;

$cl-btn: '.btn';
$cl-btn-default: '#{$cl-btn}--default';
$cl-btn-outlined: '#{$cl-btn}--outlined';
$cl-btn-text: '#{$cl-btn}--text';

#{$cl-btn} {
    &:global(.MuiButtonBase-root) {
        color: base.$color-white;
        background: transparent;
        border-radius: base.$border-radius-sm;
        &:disabled {
            opacity: 0.5;
            box-shadow: none;
            pointer-events: none;
            cursor: none;
        }
        &#{$cl-btn-default} {
            background: base.$color-btn-bg;
            border: 1px solid base.$color-btn-bg;
            @include base.interactive-states {
                background: base.$color-btn-bg-active;
                border: 1px solid base.$color-btn-bg-active;
            }
        }
        &#{$cl-btn-outlined} {
            border: 1px solid base.$color-btn-bg;
        }
        &#{$cl-btn-text} {
            border: none;
            background: none;
            box-shadow: none;
            padding: 8px 16px;
            margin-left: -16px;
        }
    }
}

#{$cl-btn} {
    @include base.interactive-states($transition) {
        transform: translateY(3px);
        // fixes visual bug on translate when hovering
        border-color: base.$color-btn-bg !important;
        box-shadow: none;
    }
    transition: color none, background none,
        transform base.$default-transition-time ease-in-out,
        box-shadow base.$default-transition-time ease-in-out;
    will-change: transform;
    padding: 16px 32px;
    margin: 64px auto 0;
    text-align: center;
    box-shadow: base.$box-shadow-btn;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    text-transform: capitalize;
    // for better alignment with mui icon props
    svg {
        vertical-align: text-bottom;
    }
}

@include base.theme(#{$cl-btn}, 'dark') {
    &#{$cl-btn-outlined} {
        color: base.$color-btn-text-dark;
        background: base.$color-btn-outline-bg-dark;
        @include base.interactive-states {
            color: base.$color-btn-text-active-dark;
            background: base.$color-btn-outline-bg-active-dark;
        }
    }
    &#{$cl-btn-text} {
        color: base.$color-btn-text-dark;
        @include base.interactive-states {
            color: base.$color-btn-text-active-dark;
        }
    }
}

@include base.theme(#{$cl-btn}, 'light') {
    &#{$cl-btn-outlined} {
        color: base.$color-btn-text;
        background: base.$color-btn-outline-bg;
        @include base.interactive-states {
            color: base.$color-btn-text-active;
            background: base.$color-btn-outline-bg-active;
        }
    }
    &#{$cl-btn-text} {
        color: base.$color-btn-text;
        @include base.interactive-states {
            color: base.$color-btn-text-active;
        }
    }
}
