/** @format */

@use 'base';
@use 'sass:color';

$transition: all 0.35s ease-in-out;

$cl-btn: '.btn';
$cl-btn-default: '#{$cl-btn}--default';
$cl-btn-outlined: '#{$cl-btn}--outlined';

#{$cl-btn} {
    &:global(.MuiButtonBase-root) {
        color: base.$color-white;
        background: transparent;
        border-radius: base.$border-radius-sm;
        &:disabled {
            opacity: 0.3;
            pointer-events: none;
            cursor: none;
        }
        &#{$cl-btn-default} {
            background: var(--color-primary);
            border: 1px solid var(--color-primary);
        }
        &#{$cl-btn-outlined} {
            border: 1px solid var(--color-primary);
        }
    }
}

#{$cl-btn} {
    @include base.interactive-states($transition) {
        transform: translateY(-2px);
        // fixes visual bug on translate when hovering
        border-color: var(--color-primary) !important;
    }
    will-change: transform;
    padding: 16px 32px;
    margin: 64px auto 0;
    text-align: center;
    box-shadow: base.$box-shadow-btn;
    font-size: 16px;
    font-weight: 700;
    display: block;
    text-transform: capitalize;
}

@include base.theme(#{$cl-btn}, 'dark') {
    &#{$cl-btn-outlined} {
        color: var(--color-primary-800);
        background: base.$color-neutral-dark-900;
    }
}

@include base.theme(#{$cl-btn}, 'light') {
    &#{$cl-btn-outlined} {
        color: var(--color-primary);
        background: none;
    }
}