/** @format */

@use 'base';

$cl-card: '.card';

#{$cl-card} {
    will-change: transform;
    position: relative;
    align-self: stretch;
    padding: min(24px, 5%) min(32px, 10%);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    flex: 0 0 250px;
    transition: 0.5s ease-in-out;
    transition-property: transform, background, color;
    overflow: hidden;
    &:hover {
        transform: scale(1.1);
        &::before {
            transform: scale(1.5) translateY(0);
        }
    }
    &::before {
        @include base.before-after-default;
        z-index: -1;
        transform: scale(1) translateY(100%);
        transition: all 0.5s ease-in-out;
        border-radius: 50%;
    }
}

@include base.theme(#{$cl-card}, 'dark') {
    background: base.$color-neutral-dark-800;
    &:hover {
        color: base.$color-text-default-black;
        &::before {
            background: base.$color-bg-hover-non-interactive-dark;
        }
    }
}

@include base.theme(#{$cl-card}, 'light') {
    background: base.$color-white;
    &:hover {
        color: base.$color-text-default-white;
        &::before {
            background: base.$color-bg-hover-non-interactive;
        }
    }
}
