/** @format */

@use 'base';

$cl-color-picker: '.color_picker';
$cl-error: '#{$cl-color-picker}__error';

#{$cl-color-picker} {
    #{$cl-error} {
       @include base.padding-y(16px);
        text-align: center;
        font-size: base.$font-size-body-2;
    }
}
