/** @format */

@use 'base';

$cl-heading: '.heading';
$cl-heading-disable-pt: '#{$cl-heading}--disable-pt';

#{$cl-heading} {
    text-align: center;
    padding-top: base.$spacing-section;
    h2 {
        font-size: base.$font-size-title;
    }
    &#{$cl-heading-disable-pt} {
        padding-top: 0;
    }
}
