/** @format */

@use 'base';

$cl-text: '.text';

#{$cl-text} {
    @include base.gradient-text(base.set-gradient-direction(to right));
    @include base.animation-gradient;
    max-width: max-content;
    background-size: 200% 100%;
}

@include base.theme(#{$cl-text}, 'dark') {
    filter: brightness(1.5);
}

@include base.theme(#{$cl-text}, 'light') {
    filter: brightness(1);
}
