/** @format */

@use 'base';

$cl-logo: '.logo';

#{$cl-logo} {
    img {
        @include base.transition((height, filter));
        display: inline-block;
        object-fit: contain;
        max-width: 200px;
        height: auto;
        @include base.interactive-states {
            transform: scale(1.05);
        }
    }
}
