/** @format */

@use 'base';

$cl-sub-heading: '.sub_heading';

#{$cl-sub-heading} {
    @include base.margin-x;
    text-transform: uppercase;
    font-size: base.$font-size-subtitle-1;
    font-weight: bold;
    letter-spacing: 1px;
}
