/** @format */

@use 'base';

$cl-toggle: '.toggle';
$cl-toggle-btn: '#{$cl-toggle}__btn';
$cl-toggle-btn-disabled: '#{$cl-toggle-btn}--disabled';
$cl-toggle-btn-enabled: '#{$cl-toggle-btn}--enabled';
$cl-toggle-theme-resolved: '#{$cl-toggle}--theme-resolved';

#{$cl-toggle} {
    @include base.transition(
        $properties: (
            visibility,
            transform,
        ), $is-important: true
    );
    position: relative;
    visibility: hidden;
    transform: scale(0);
    #{$cl-toggle-btn} {
        color: inherit;
        svg {
            font-size: 2rem;
        }
        &#{$cl-toggle-btn-disabled} {
            position: absolute;
            transform: scale(0.6);
            top: base.px-to-rem(-12px);
            left: base.px-to-rem(32px);
            z-index: -1;
            opacity: 0.4;
            pointer-events: none;
            cursor: none;
        }
        &#{$cl-toggle-btn-enabled} {
            position: relative;
            transform: scale(1);
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 1;
        }
    }
    &#{$cl-toggle-theme-resolved} {
        visibility: visible;
        transform: scale(1);
        #{$cl-toggle-btn} {
            @include base.transition(
                $properties: (
                    position,
                    transform,
                    top,
                    left,
                    opacity,
                    z-index,
                ), $is-important: true
            );
        }
    }
}
