/** @format */

@use 'base';

$cl-wrapper: '.wrapper';
$cl-icon: '#{$cl-wrapper}__icon';

#{$cl-wrapper} {
    @include base.flex-center;
    #{$cl-icon} {
        max-height: 56px;
        width: 64px;
        object-fit: scale-down;
    }
}

@include base.theme(#{$cl-wrapper}, 'dark') {
    #{$cl-icon} {
        filter: brightness(0.8);
    }
}

@include base.theme(#{$cl-wrapper}, 'light') {
    #{$cl-icon} {
        filter: unset;
    }
}
