/** @format */

@use 'base';

$cl-overview: '.overview';
$cl-container: '#{$cl-overview}__container';
$cl-timeline: '#{$cl-overview}__timeline';
$cl-time-period-opposite: '#{$cl-overview}__time_period_opposite';
$cl-time-period: '#{$cl-overview}__time_period';
$cl-timeline-item: '#{$cl-timeline}_item';
$cl-timeline-dot: '#{$cl-timeline}_dot';
$cl-timeline-logo: '#{$cl-timeline}_logo';
$cl-timeline-opposite-content: '#{$cl-timeline}_opposite_content';
$cl-timeline-separator: '#{$cl-timeline}_separator';
$cl-timeline-connector-primary: '#{$cl-timeline}_connector_primary';
$cl-timeline-connector-secondary: '#{$cl-timeline}_connector_secondary';
$cl-timeline-content: '#{$cl-timeline}_content';
$cl-timeline-paragraph: '#{$cl-timeline}_paragraph';
$cl-chips: '#{$cl-overview}__chips';
$cl-skills: '#{$cl-overview}__skills';
$cl-skills-soft: '#{$cl-skills}_soft';
$cl-skills-hard: '#{$cl-skills}_hard';
$cl-btn: '#{$cl-overview}__btn';
$cl-timeline-content-mech: '#{$cl-timeline-content}--mech';

#{$cl-overview} {
    :global(.MuiChip-root.MuiChip-filled) {
        color: unset;
    }
    :global(.MuiTimelineContent-root),
    :global(.MuiTypography-body1) {
        font-size: base.$font-size-body-1;
    }
    :global(.MuiTypography-h3) {
        font-size: base.$font-size-h3;
        padding-bottom: 4px;
    }
    :global(.MuiTypography-h4) {
        font-size: base.$font-size-h4;
        padding-bottom: 16px;
    }
}

#{$cl-overview} {
    @include base.fixed-bg;
    font-size: base.$font-size-body-1;
    #{$cl-container} {
        padding-bottom: base.$spacing-section;
    }
    #{$cl-timeline},
    #{$cl-timeline} #{$cl-timeline-opposite-content},
    #{$cl-timeline} #{$cl-timeline-content} {
        @include base.mq-below-lg-tablet {
            @include base.padding-x(0);
        }
    }
    #{$cl-timeline} {
        margin-top: base.$spacing-xl;
        gap: 64px;
        @include base.mq-above-lg-tablet {
            gap: 0;
        }
        #{$cl-timeline-item} {
            flex-direction: column-reverse;
            @include base.mq-above-lg-tablet {
                flex-direction: row;
            }
            #{$cl-time-period-opposite} {
                display: none;
                @include base.mq-above-lg-tablet {
                    display: block;
                }
            }
            #{$cl-time-period} {
                display: block;
                margin-bottom: 16px;
                font-size: base.$font-size-body-2;
                @include base.mq-above-lg-tablet {
                    display: none;
                }
            }
            #{$cl-timeline-dot} {
                color: base.$color-text-default-black;
            }
            #{$cl-timeline-logo} {
                img {
                    @include base.margin-y(8px);
                    display: inline-block;
                    height: 40px;
                    width: auto;
                    object-fit: contain;
                }
            }
            #{$cl-timeline-opposite-content} {
                margin: auto;
                font-style: italic;
                flex: 1;
                text-align: left;
                @include base.mq-above-lg-tablet {
                    text-align: right;
                }
            }
            #{$cl-timeline-content} {
                padding-top: 32px;
                flex-flow: wrap-reverse;
                width: 100%;
                @include base.mq-above-lg-tablet {
                    @include base.padding-y(32px);
                    width: 50ch;
                }
                &#{$cl-timeline-content-mech} {
                    @include base.padding-y(16px);
                }
            }
            #{$cl-timeline-separator} {
                display: none;
                @include base.mq-above-lg-tablet {
                    display: flex;
                }
            }
            #{$cl-timeline-paragraph} {
                list-style: none;
                > li {
                    display: flex;
                    column-gap: 8px;
                    :last-child {
                        @include base.max-width-text-lg;
                        margin: unset;
                    }
                }
            }
            #{$cl-chips} {
                > div {
                    box-shadow: base.$box-shadow-card-light;
                    margin-bottom: 8px;
                    margin-right: 8px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: base.$font-size-chip-1;
                }
            }
            #{$cl-timeline-connector-primary} {
                background-color: var(--color-primary);
            }
            #{$cl-timeline-connector-secondary} {
                background-color: var(--color-secondary);
            }
        }
    }
    #{$cl-skills} {
        @include base.flex-center;
        @include base.margin-x;
        margin-top: base.$spacing-xl;
        gap: 32px;
        flex-wrap: wrap;
        li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            list-style: none;
            column-gap: 8px;
            &:not(:first-child) {
                padding-top: 8px;
            }
        }
        #{$cl-skills-soft},
        #{$cl-skills-hard} {
            flex: 1;
            border-radius: 24px;
            height: 100%;
            padding: base.px-to-rem(32px) base.px-to-rem(16px);
            h3 {
                text-transform: uppercase;
                padding-bottom: 16px;
            }
            hr {
                background-color: base.$color-white;
                margin-bottom: 24px;
            }
            @include base.mq-above-lg-mobile {
                flex: 0 0 auto;
            }
            @include base.mq-above-sm-tablet {
                padding: 5%;
            }
        }
        #{$cl-skills-soft} {
            border-radius: 16px;
            box-shadow: base.$box-shadow-card-heavy;
            backdrop-filter: blur(5px);
            width: min(440px, 100%);
            @include base.mq-above-lg-mobile {
                width: min(440px, 75%);
            }
        }
        #{$cl-skills-hard} {
            background: none;
            width: min(max-content, 100%);
            @include base.mq-above-lg-mobile {
                width: min(max-content, 75%);
            }
        }
    }
    #{$cl-btn} {
        display: block;
    }
}

@include base.theme(#{$cl-overview}, 'dark') {
    #{$cl-timeline} {
        #{$cl-chips} {
            &,
            div,
            span {
                color: base.$color-text-default-black;
            }
            > div {
                background-color: base.$color-bg-non-interactive-dark;
            }
        }
        #{$cl-timeline-logo} {
            img {
                @include base.filter-to-white();
                mix-blend-mode: lighten;
            }
        }
    }
    #{$cl-skills-hard} {
        hr {
            background-color: base.$color-white;
        }
    }
}

@include base.theme(#{$cl-overview}, 'light') {
    #{$cl-timeline} {
        #{$cl-chips} {
            &,
            div,
            span {
                color: base.$color-text-default-white;
            }
            > div {
                background-color: base.$color-bg-non-interactive;
            }
        }
    }
    #{$cl-skills-hard} {
        hr {
            background-color: base.$color-black;
        }
    }
}
