/** @format */

@use 'base';

$cl-overview: '.overview';
$cl-container: '#{$cl-overview}__container';
$cl-timeline: '#{$cl-overview}__timeline';
$cl-timeline-item: '#{$cl-timeline}_item';
$cl-timeline-opposite-content: '#{$cl-timeline}_opposite_content';
$cl-timeline-content: '#{$cl-timeline}_content';
$cl-timeline-paragraph: '#{$cl-timeline}_paragraph';
$cl-chips: '#{$cl-overview}__chips';
$cl-skills: '#{$cl-overview}__skills';
$cl-skills-soft: '#{$cl-skills}_soft';
$cl-skills-hard: '#{$cl-skills}_hard';
$cl-timeline-content-mech: '#{$cl-timeline-content}--mech';
$cl-overview-neutral-bg: '#{$cl-overview}--neutral_bg';

#{$cl-overview} {
    :global(.MuiChip-root.MuiChip-filled) {
        color: unset;
    }
}

#{$cl-overview} {
    background-attachment: fixed;
    #{$cl-container} {
        @include base.padding-y(base.$spacing-section);
    }
    #{$cl-timeline} {
        margin-top: base.$spacing-section;
        #{$cl-timeline-content} {
            @include base.padding-y(32px);
            flex-flow: wrap-reverse;
            width: 50ch;
            &#{$cl-timeline-content-mech} {
                @include base.padding-y(16px);
            }
        }
        #{$cl-timeline-paragraph} {
            list-style: none;
            > li {
                display: flex;
                column-gap: 8px;
            }
        }
        #{$cl-chips} {
            > div {
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                margin-bottom: 8px;
                margin-right: 8px;
                font-weight: 500;
                font-style: normal;
            }
        }
    }
    #{$cl-skills} {
        @include base.flex-center;
        @include base.margin-x;
        margin-top: base.$spacing-section;
        gap: 32px;
        flex-wrap: wrap;
        li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            list-style: none;
            column-gap: 8px;
            &:not(:first-child) {
                padding-top: 8px;
            }
        }
        #{$cl-skills-soft},
        #{$cl-skills-hard} {
            flex: 0 0 auto;
            border-radius: 24px;
            height: 100%;
            padding: 2.5%;
            h3 {
                text-transform: uppercase;
                padding-bottom: 16px;
            }
            hr {
                background-color: base.$color-white;
                margin-bottom: 24px;
            }
        }
        #{$cl-skills-soft} {
            width: 400px;
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(5px);
        }
        #{$cl-skills-hard} {
            background: none;
        }
    }
}

@include base.theme(#{$cl-overview}, 'dark') {
    background-image: base.$img-bg-dark;
    #{$cl-timeline} {
        #{$cl-chips} {
            &,
            div,
            span {
                color: base.$color-text-default;
            }
            > div {
                background-color: base.$color-bg-non-interactive-dark;
            }
        }
    }
    #{$cl-skills-hard} {
        hr {
            background-color: base.$color-white;
        }
    }
    &#{$cl-overview-neutral-bg} {
        background-image: base.$img-bg-dark-neutral;
    }
}

@include base.theme(#{$cl-overview}, 'light') {
    background-image: base.$img-bg-light;
    #{$cl-timeline} {
        #{$cl-chips} {
            &,
            div,
            span {
                color: base.$color-text-default-dark;
            }
            > div {
                background-color: base.$color-bg-non-interactive;
            }
        }
    }
    #{$cl-skills-hard} {
        hr {
            background-color: base.$color-black;
        }
    }
    &#{$cl-overview-neutral-bg} {
        background-image: base.$img-bg-light-neutral;
    }
}
