/** @format */

@use 'base';

$cl-overview: '.overview';
$cl-container: '#{$cl-overview}__container';
$cl-timeline: '#{$cl-overview}__timeline';
$cl-timeline-item: '#{$cl-timeline}_item';
$cl-timeline-dot: '#{$cl-timeline}_dot';
$cl-timeline-logo: '#{$cl-timeline}_logo';
$cl-timeline-opposite-content: '#{$cl-timeline}_opposite_content';
$cl-timeline-content: '#{$cl-timeline}_content';
$cl-timeline-paragraph: '#{$cl-timeline}_paragraph';
$cl-chips: '#{$cl-overview}__chips';
$cl-skills: '#{$cl-overview}__skills';
$cl-skills-soft: '#{$cl-skills}_soft';
$cl-skills-hard: '#{$cl-skills}_hard';
$cl-btn: '#{$cl-overview}__btn';
$cl-timeline-content-mech: '#{$cl-timeline-content}--mech';

#{$cl-overview} {
    :global(.MuiChip-root.MuiChip-filled) {
        color: unset;
    }
}

#{$cl-overview} {
    @include base.fixed-bg;
    #{$cl-container} {
        padding-bottom: base.$spacing-section;
    }
    #{$cl-timeline} {
        margin-top: base.$spacing-xl;
        #{$cl-timeline-dot} {
            color: base.$color-text-default-black;
        }
        #{$cl-timeline-logo} {
            img {
                @include base.margin-y(8px);
                display: inline-block;
                height: 40px;
                width: auto;
                object-fit: contain;
            }
        }
        #{$cl-timeline-content} {
            @include base.padding-y(32px);
            flex-flow: wrap-reverse;
            width: 50ch;
            &#{$cl-timeline-content-mech} {
                @include base.padding-y(16px);
            }
        }
        #{$cl-timeline-paragraph} {
            list-style: none;
            > li {
                display: flex;
                column-gap: 8px;
            }
        }
        #{$cl-chips} {
            > div {
                box-shadow: base.$box-shadow-card-light;
                margin-bottom: 8px;
                margin-right: 8px;
                font-weight: 500;
                font-style: normal;
            }
        }
    }
    #{$cl-skills} {
        @include base.flex-center;
        @include base.margin-x;
        margin-top: base.$spacing-xl;
        gap: 32px;
        flex-wrap: wrap;
        li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            list-style: none;
            column-gap: 8px;
            &:not(:first-child) {
                padding-top: 8px;
            }
        }
        #{$cl-skills-soft},
        #{$cl-skills-hard} {
            flex: 0 0 auto;
            border-radius: 24px;
            height: 100%;
            padding: base.px-to-rem(32px) base.px-to-rem(16px);
            width: min(500px, 100%);
            h3 {
                text-transform: uppercase;
                padding-bottom: 16px;
            }
            hr {
                background-color: base.$color-white;
                margin-bottom: 24px;
            }
            @include base.mq-above-sm-tablet {
                padding: 3%;
            }
        }
        #{$cl-skills-soft} {
            border-radius: 16px;
            box-shadow: base.$box-shadow-card-heavy;
            backdrop-filter: blur(5px);
        }
        #{$cl-skills-hard} {
            background: none;
        }
    }
    #{$cl-btn} {
        display: block;
    }
}

@include base.theme(#{$cl-overview}, 'dark') {
    #{$cl-timeline} {
        #{$cl-chips} {
            &,
            div,
            span {
                color: base.$color-text-default-black;
            }
            > div {
                background-color: base.$color-bg-non-interactive-dark;
            }
        }
        #{$cl-timeline-logo} {
            img {
                @include base.filter-to-white();
                mix-blend-mode: lighten;
            }
        }
    }
    #{$cl-skills-hard} {
        hr {
            background-color: base.$color-white;
        }
    }
}

@include base.theme(#{$cl-overview}, 'light') {
    #{$cl-timeline} {
        #{$cl-chips} {
            &,
            div,
            span {
                color: base.$color-text-default-white;
            }
            > div {
                background-color: base.$color-bg-non-interactive;
            }
        }
    }
    #{$cl-skills-hard} {
        hr {
            background-color: base.$color-black;
        }
    }
}
