/** @format */

@use 'base';

$cl-overview: '.overview';
$cl-projects: '#{$cl-overview}__projects';

#{$cl-overview} {
    #{$cl-projects} {
        @include base.margin-y(base.$spacing-section);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 64px;
    }
}
