/** @format */

@use 'base';

$cl-overview: '.overview';
$cl-text: '#{$cl-overview}__text';
$cl-separator: '#{$cl-overview}__separator';
$cl-cards: '#{$cl-overview}__cards';
$cl-card: '#{$cl-overview}__card';

#{$cl-overview} {
    #{$cl-cards} {
        margin-top: base.$spacing-xl;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
        flex-wrap: wrap;
    }
    #{$cl-card} {
       @include base.mq-below-lg-mobile {
            gap: 16px;
            padding: min(12px, 5%);
        }
        position: relative;
        display: flex;
        justify-content: stretch;
        align-items: center;
        align-self: stretch;
        flex-direction: column;
        gap: 32px;
        padding: min(24px, 10%);
        border-radius: 32px;
        transition: 0.5s ease-in-out;
        transition-property: transform, background, color, box-shadow;
        overflow: hidden;
        text-align: center;
        h4 {
            @include base.mq-below-lg-mobile {
                width: 12ch;
                font-size: base.$font-size-chip-1;
            }
            width: 20ch;
        }
        img {
            --img-size: #{base.px-to-rem(100px)};
            @include base.mq-below-lg-mobile {
                --img-size: #{base.px-to-rem(60px)};
            }
            $size: var(--img-size);
            display: inline-block;
            width: $size;
            height: $size;
        }
        &:hover {
            transform: scale(1.1);
            box-shadow: base.$box-shadow-card;
            &::before {
                transform: scale(1.5) translateY(0);
            }
        }
        &::before {
            @include base.before-after-default;
            z-index: -1;
            transform: scale(1) translateY(100%);
            transition: all 0.5s ease-in-out;
            border-radius: 50%;
        }
    }
}

@include base.theme(#{$cl-overview}, 'dark') {
    #{$cl-card} {
        img {
            filter: saturate(0.75);
        }
        &:hover {
            color: base.$color-text-default-black;
            &::before {
                background: base.$color-bg-hover-non-interactive-dark;
            }
        }
    }
}

@include base.theme(#{$cl-overview}, 'light') {
    #{$cl-separator} {
        b {
            font-weight: 900;
        }
    }
    #{$cl-card} {
        &:hover {
            color: base.$color-text-default-white;
            &::before {
                background: base.$color-bg-hover-non-interactive;
            }
        }
    }
}
