/** @format */

@use 'base';

$cl-overview: '.overview';
$cl-container: '#{$cl-overview}__container';

#{$cl-overview} {
    #{$cl-container} {
        margin-top: base.$spacing-section;
        display: flex;
        max-width: min(1000px, 100%);
        justify-content: center;
        align-items: center;
        gap: 48px;
        flex-wrap: wrap;
    }
}
