/** @format */

@use 'base';

$cl-overview: '.overview';
$cl-banner: '#{$cl-overview}__banner';

#{$cl-overview} {
    #{$cl-banner} {
        @include base.margin-x;
        margin-top: 64px;
        min-width: 50%;
    }
}
