/** @format */

@use 'base';

$cl-footer: '.footer';
$cl-top: '#{$cl-footer}__top';
$cl-bottom: '#{$cl-footer}__bottom';
$cl-my-logo: '#{$cl-footer}__my_logo';
$cl-container: '#{$cl-footer}__container';
$cl-logos: '#{$cl-footer}__logos';
$cl-built-using: '#{$cl-footer}__built_using';
$cl-copyright: '#{$cl-footer}__copyright';

#{$cl-footer} {
    #{$cl-top} {
        min-height: 400px;
        button {
            width: 100%;
            margin-top: base.$spacing-xl;
        }
    }
    #{$cl-bottom} {
        min-height: 200px;
        padding-top: base.$spacing-section;
        p {
            text-align: left;
            @include base.mq-above-lg-mobile {
                text-align: center;
            }
        }
    }
    #{$cl-my-logo} {
        img {
            @include base.margin-x;
            display: block;
            width: 200px;
            height: auto;
            margin-bottom: base.$spacing-lg;
        }
    }
    #{$cl-container} {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 64px;
        padding-bottom: base.$spacing-xxl;
        max-width: min(1000px, 90%);
        margin: auto;
        li {
            list-style: none;
        }
        span {
            font-weight: bold;
            padding-bottom: base.$spacing-md;
        }
        @include base.mq-above-lg-mobile {
            justify-content: space-evenly;
        }
    }
    #{$cl-built-using} {
        font-weight: 700;
        text-align: center;
    }
    #{$cl-logos} {
        @include base.flex-center;
        border-radius: 12px;
        margin-top: base.$spacing-md;
        margin-bottom: base.$spacing-xl;
        column-gap: 16px;
        > div {
            width: 64px;
            height: auto;
        }
        img {
            width: auto;
            height: 64px;
            max-width: 100%;
            padding: 2px;
            object-fit: contain;
        }
    }
    #{$cl-copyright} {
        margin-bottom: base.$spacing-xxl;
        :not(p:first-of-type) {
            padding-top: 8px;
        }
    }
}

@include base.theme(#{$cl-footer}, 'dark') {
    #{$cl-my-logo} {
        img {
            filter: invert(1);
        }
    }
    #{$cl-logos} {
        filter: invert(1);
    }
}

@include base.theme(#{$cl-footer}, 'light') {
    #{$cl-my-logo} {
        img {
            filter: invert(0);
        }
    }
}
