/** @format */

@use 'base';
@use 'sass:math';

$cl-header: '.header';
$cl-toolbar: '#{$cl-header}__toolbar';
$cl-logo: '#{$cl-header}__logo';
$cl-content: '#{$cl-header}__content';
$cl-content-bg: '#{$cl-header}__content_bg';
$cl-links: '#{$cl-header}__links';
$cl-menu: '#{$cl-header}__menu';
$cl-btns: '#{$cl-header}__btns';
$cl-header-scrolled: '#{$cl-header}--scrolled';
$cl-fixed: '#{$cl-header}--fixed';
$cl-absolute: '#{$cl-header}--absolute';

#{$cl-header} {
    @include base.transition((color, background, box-shadow, height, z-index, opacity));
    top: 0;
    height: base.$header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    background: transparent;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: base.$font-size-header;
    #{$cl-toolbar} {
        justify-content: space-between;
    }
    #{$cl-logo} {
        img {
            height: math.div(base.$header-height, 1.6);
        }
    }
    #{$cl-content} {
        position: relative;
        display: flex;
    }
    #{$cl-content-bg} {
        @include base.transition((height, opacity));
        position: absolute;
        min-width: 100%;
        height: 520px;
        top: 0;
        left: -8px;
        right: 0;
        border-bottom-left-radius: base.$border-radius-md;
        opacity: 1;
        z-index: -1;
        box-shadow: base.$box-shadow-card-heavy;
        @include base.mq-above-desktop {
            height: 400px;
        }
    }
    #{$cl-links},
    #{$cl-btns} {
        display: none;
        @include base.mq-above-desktop {
            display: flex;
        }
    }
    #{$cl-links} {
        a {
            text-decoration: none;
        }
        li {
            @include base.padding-x(0.7rem);
            list-style: none;
        }
    }
    #{$cl-menu} {
        display: inline-block;
        @include base.mq-above-desktop {
            display: none;
        }
    }
    #{$cl-btns} {
        li {
            @include base.padding-x(0.1rem);
            list-style: none;
        }
    }
    &#{$cl-fixed} {
        position: fixed;
        z-index: 1;
        opacity: 1;
        #{$cl-content-bg} {
            display: none;
        }
    }
    &#{$cl-absolute} {
        position: absolute;
        // disable lower header which is used for show only
        z-index: 0;
        cursor: none;
        pointer-events: none;
        a,
        button {
            cursor: pointer;
            pointer-events: none;
        }
        #{$cl-logo},
        #{$cl-content} :not(:first-child) {
            opacity: 0;
        }
    }
    &#{$cl-header-scrolled} {
        height: base.$header-height-scrolled;
        backdrop-filter: blur(5px);
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
            0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        #{$cl-logo} {
            img {
                height: math.div(base.$header-height, 2);
            }
        }
        &#{$cl-fixed} {
            z-index: 10000;
            opacity: 1;
        }
    }
}

@include base.theme(#{$cl-header}, 'dark') {
    li,
    button,
    svg {
        color: base.$color-text-default-dark;
    }
    #{$cl-logo} {
        img {
            filter: invert(1);
        }
    }
    &#{$cl-header-scrolled} {
        background: transparentize(
            $color: base.$color-header-scrolled-bg-dark,
            $amount: 0.15
        );
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
            0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        #{$cl-logo} {
            img {
                filter: invert(0);
            }
        }
        li,
        button,
        svg {
            color: base.$color-text-default-black;
        }
    }
    button,
    svg {
        @include base.interactive-states {
            color: var(--color-primary-600);
        }
    }
}

@include base.theme(#{$cl-header}, 'light') {
    li,
    button,
    svg {
        color: base.$color-white;
    }
    #{$cl-logo} {
        img {
            filter: invert(0);
        }
    }
    &#{$cl-header-scrolled} {
        background: transparentize($color: base.$color-header-scrolled-bg, $amount: 0.15);
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
            0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        #{$cl-logo} {
            img {
                filter: invert(1);
            }
        }
        li,
        button {
            color: base.$color-white;
        }
    }
    button,
    svg {
        @include base.interactive-states {
            color: var(--color-primary-600);
        }
    }
}
