/** @format */

@use 'base';

$fab: '.fab';

#{$fab} {
    @include base.interactive-states {
        box-shadow: base.$box-shadow-btn;
    }
    color: base.$color-white;
    background: base.$color-btn-bg;
}

@include base.theme(#{$fab}, 'dark') {
    @include base.interactive-states {
        background: base.$color-btn-bg-active;
    }
}

@include base.theme(#{$fab}, 'light') {
    @include base.interactive-states {
        background: base.$color-btn-bg-active;
    }
}
