/** @format */

@use 'base';

$speed-dial: '.speed_dial';

#{$speed-dial} {
    > button {
        @include base.interactive-states {
            box-shadow: base.$box-shadow-btn;
        }
        height: 60px;
        width: 60px;
    }
    button {
        @include base.interactive-states {
            transform: translate(0, -3px);
        }
        color: base.$color-white;
        background: base.$color-btn-bg-neutral;
    }
}

@include base.theme(#{$speed-dial}, 'dark') {
    button {
        @include base.interactive-states {
            background: base.$color-btn-bg-active-dark;
        }
    }
}

@include base.theme(#{$speed-dial}, 'light') {
    button {
        @include base.interactive-states {
            background: base.$color-btn-bg-active;
        }
    }
}
